/* Global */
body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* NAVBAR */
nav {
  background: #1e293b;
  padding: 15px;
  display: flex;
  gap: 20px;
}

nav a {
  color: #93c5fd;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: white;
}

/* Summary Cards */
.cards-container {
  display: flex;
  gap: 20px;
  margin: 20px;
  justify-content: space-around;
}

.summary-card {
  width: 25%;
  background: #1e293b;
  padding: 25px;
  border-radius: 10px;
  border-left: 5px solid;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(27, 43, 78, 0.8);
}

.summary-card h3 {
  font-size: 1.3rem;
  color: #e2e8f0;
}

.summary-card p {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
}

/* Table */
.table-container {
  margin: 20px;
}

.table-title {
  margin-bottom: 15px;
}

.details-table {
  width: 100%;
  border-collapse: collapse;
  background: #1e293b;
  border-radius: 10px;
  overflow: hidden;
}

.details-table th,
.details-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #334155;
}

.details-table th {
  background: #0f172a;
}

.status-green {
  color: #22c55e;
  font-weight: bold;
}

.status-red {
  color: #ef4444;
  font-weight: bold;
}

.status-yellow {
  color: #eab308;
  font-weight: bold;
}

/* Chart */
.chart-container {
  width: 80%;
  margin: auto;
  background: #1e293b;
  padding: 30px;
  border-radius: 12px;
  margin-bottom: 40px;
}

.chart-title {
  text-align: center;
  margin-bottom: 20px;
}
